{% extends "base.html" %}
{% block title %}This is our block title{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p class="h1">Welcome to scrapper home page.</p><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Service 1 - Keeper</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Flask</h5>
                    <p class="card-text">(as backend service)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Service 2 - Reeper</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Django / DRF / PostgreSQL</h5>
                    <p class="card-text">API access to DB</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Service 3 - Master</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Django</h5>
                    <p class="card-text">(as frontend app)</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
