{% extends "base.html" %}
{% block title %}Scrapper{% endblock %}
{% block body %}

<div class="row">
    <div class="col-lg-12"><p class="h1">Set your scrapper</p></div>
</div>
<div class="row">
    <div class="col-lg-10">
        <blockquote class="blockquote">
            <p class="mb-0">What is the skill to find a job?</p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="{% url 'results' %}" method="get">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <div class="col-sm-2">
                    {{ field.label }}
                </div>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-secondary" id="inspert_button">RUN SCRAPPING</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
