{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block body %}


<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">request_keyword</th>
                    <th scope="col">searched_words</th>
                    <th scope="col">result_words_count</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ result_data_list.0.request_keyword }}</td>
                    <td>{{ result_data_list.0.searched_words }}</td>
                    <td>{{ result_words_count }}</td>
                </tr>

            </tbody>

            <caption>Found {{ result_data_list|length }} vacancies(s).</caption>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Result vacancy data</th>
                </tr>
            </thead>
            <tbody>
                {% for vacancy in result_data_list %}
                <tr>
                    <td>{{ vacancy.result_parsing }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <caption>...</caption>
        </table>
    </div>
</div>


{% endblock %}
