{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <p class="h1">Reports about all founded positions in DB.</p>
    </div>
</div>
{% if message %}
<div class="row">
    <div class="col-lg-12">
        <p>{{ Message }}</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">website</th>
                    <th scope="col">request_keyword</th>
                    <th scope="col">searched_words</th>
                </tr>
            </thead>
            <tbody>
            {% for vacancy in result_data_list %}
                <tr>
                    <td>{{ vacancy.website }}</td>
                    <td>{{ vacancy.request_keyword }}</td>
                    <td>{{ vacancy.searched_words }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <caption>Found {{ result_data_list|length }} item(s).</caption>
        </table>
    </div>
</div>
    {% endif %}

{% endblock %}
